html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  background-color: #1d1d1d;
  margin: 0;
  color: white;
}

/*============ Header ============*/

header {
  height: 5em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 10;

  .container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  img {
    height: 3.125em;
  }

  nav {
    width: 30%;
  }
}

.nav-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
  justify-content: space-around;

  a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  a:hover {
    color: gray;
  }
}

/*============ Intro section ============*/

.intro-section {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h1 {
    z-index: 5;
    font-size: 7em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
  }

  p {
    z-index: 5;
    font-size: 2em;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    margin: 0;
  }

  span {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.4;
  }

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
  }
}

/*============ Products section ============*/

.products-section {
  height: 60em;
  display: flex;
  color: white;

  .flex-end {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .left {
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #212121;
    text-align: right;

    .specs-text {
      margin-right: 3em;
    }
  }

  .right {
    width: 50%;
    height: 100%;
    position: relative;
    background-color: #1d1d1d;
    text-align: left;

    .specs-text {
      margin-left: 3em;
    }
  }

  .specs-text {
    margin-bottom: 6em;
  }

  strong {
    font-weight: 600;
  }

  h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    font-size: 3em;
    margin-bottom: 0;
  }

  h4 {
    font-size: 1.5em;
    margin-top: 0.8em;
  }

  .mavic {
    width: 70%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fly 4000ms ease-in-out infinite;
  }
}

@keyframes fly {
  0% {
    transform: translate(-50%, -46%);
  }

  50% {
    transform: translate(-50%, -54%);
  }

  100% {
    transform: translate(-50%, -46%);
  }
}

::selection {
  background-color: #e4e4e4;
  color: #333;
}

/*============ Gallery section ============*/

.gallery-section {
  width: 90%;
  margin: 7.5em auto 9em;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    text-align: center;
    font-size: 3em;
    margin-top: 1.5em;
  }

  .video-wrapper {
    width: 70%;
  }

  .video-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }

  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

/*============ Buy section ============*/

.buy-section {
  width: 90%;
  padding-top: 6em;
  margin: 0 auto 7em;
  height: 25em;
  display: flex;
  align-items: center;
  justify-content: center;

  div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    max-width: 57em;
  }

  img {
    width: 50%;
    max-width: 100%;
  }

  .buy-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  p {
    font-size: 1.2em;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    margin: 0 0 1.5em;
  }
}

.btn {
  text-transform: uppercase;
  display: block;
  text-decoration: none;
  color: #1d1d1d;
  background-color: white;
  padding: 1.1em 3em;
  font-weight: 700;
  border-radius: 0.3em;
  transition: color 0.3s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  border: 1px solid white;
}

.btn:hover {
  color: white;
  background-color: #1d1d1d;
  border: 1px solid white;
}

/*============ Newsletter ============*/

.newsletter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/mavic-2-wide.jpg");

  h3 {
    font-size: 2em;
    margin-top: 3em;
    text-align: center;
  }

  form {
    display: inherit;
    flex-direction: column;
    margin-bottom: 10em;
    width: 20%;
  }

  input {
    font-family: "Source Sans Pro", sans-serif;
  }

  input[type="email"] {
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.2em;
  }

  .subscribe {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }
}

/*============ Footer ============*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 7em;
  background-color: black;

  nav {
    width: 50%;
    margin-bottom: 1em;
  }

  p {
    margin: 0;
  }
}

/*============ Media queries ============*/

@media (max-width: 900px) {
  nav {
    flex-grow: 1;
  }

  .products-section {
    font-size: 14px;

    .mavic {
      top: 30%;
    }
  }

  .gallery-section {
    .video-wrapper {
      width: 85%;
    }
  }

  .buy-section {
    font-size: 13px;

    div {
      flex-direction: column;
      width: 90%;
    }

    img {
      width: 90%;
    }

    .buy-text {
      width: 90%;
      align-items: center;
    }

    p {
      margin: 4em 0 2.5em;
    }

    a {
      width: 80%;
      display: flex;
      justify-content: center;
    }
  }

  .newsletter {
    form {
      width: 40%;
    }
  }

  footer {
    nav {
      flex-grow: 0;
    }
  }
}

@media (max-width: 450px) {
  header,
  footer {
    font-size: 14px;
  }

  .intro-section {
    font-size: 11px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../images/andreas-dress-C8UjCsWp3Go-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    video,
    span {
      display: none;
    }

    h1 {
      margin-top: 2em;
    }

    p {
      font-size: 2.5em;
    }
  }

  .products-section {
    display: initial;
    height: auto;
    width: 100%;

    .mavic {
      width: 90%;
    }

    .right,
    .left {
      width: 100%;
      height: 50em;
      text-align: center;

      .specs-text {
        margin: 0 0 3em;
      }
    }
  }

  .gallery-section {
    font-size: 14px;

    .video-wrapper {
      width: 100%;
    }
  }

  .newsletter {
    font-size: 13px;

    form {
      width: 60%;
    }
  }

  footer {
    nav {
      width: 90%;
    }
  }
}

@media (max-height: 500px) {
  .products-section {
    font-size: 14px;

    .mavic {
      display: none;
    }

    .left,
    .right {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

    .left {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../images/mavic-2-pro.png");
    }

    .right {
      background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("../images/mavic-2-zoom.png");
    }
  }
}
