html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  background-color: #1d1d1d;
  margin: 0;
  color: white;
}

/*============ Header ============*/
header {
  height: 5em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 10;
}

header .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  height: 3.125em;
}

header nav {
  width: 30%;
}

header ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

header a:hover {
  color: gray;
}

/*============ Intro section ============*/
.intro-section {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.intro-section h1 {
  z-index: 2;
  font-size: 7em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.intro-section p {
  z-index: 2;
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  margin: 0;
}

.intro-section span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
}

.intro-section video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}

/*============ Products section ============*/
.products-section {
  height: 60em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
}

.products-section .flex-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.products-section .left {
  width: 50%;
  height: 100%;
  position: relative;
  background-color: #212121;
  text-align: right;
}

.products-section .left .specs-text {
  margin-right: 3em;
}

.products-section .right {
  width: 50%;
  height: 100%;
  position: relative;
  background-color: #1d1d1d;
  text-align: left;
}

.products-section .right .specs-text {
  margin-left: 3em;
}

.products-section .specs-text {
  margin-bottom: 6em;
}

.products-section strong {
  font-weight: 600;
}

.products-section h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 0;
}

.products-section h4 {
  font-size: 1.5em;
  margin-top: 0.8em;
}

.products-section .mavic {
  width: 70%;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fly 4000ms ease-in-out infinite;
          animation: fly 4000ms ease-in-out infinite;
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
  50% {
    -webkit-transform: translate(-50%, -54%);
            transform: translate(-50%, -54%);
  }
  100% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
  50% {
    -webkit-transform: translate(-50%, -54%);
            transform: translate(-50%, -54%);
  }
  100% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
}

::-moz-selection {
  background-color: #e4e4e4;
  color: #333;
}

::selection {
  background-color: #e4e4e4;
  color: #333;
}

/*============ Gallery section ============*/
.gallery-section {
  width: 90%;
  margin: 5em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery-section h2 {
  text-align: center;
  font-size: 3em;
  margin-top: 2.5em;
}

.gallery-section .video-wrapper {
  width: 70%;
}

.gallery-section .video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.gallery-section iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*============ Buy section ============*/
.buy-section {
  width: 100%;
  height: 25em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("/images/Mavic-2-wide.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Mavic-2-wide.png");
}

/*============ Media queries ============*/
@media (max-width: 900px) {
  nav {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .products-section {
    font-size: 14px;
  }
  .gallery-section .video-wrapper {
    width: 85%;
  }
}

@media (max-width: 450px) {
  header {
    font-size: 14px;
  }
  .intro-section {
    font-size: 11px;
  }
  .products-section {
    display: initial;
    height: auto;
    width: 100%;
  }
  .products-section .mavic {
    width: 90%;
  }
  .products-section .right,
  .products-section .left {
    width: 100%;
    height: 50em;
    text-align: center;
  }
  .products-section .right .specs-text,
  .products-section .left .specs-text {
    margin: 0 0 3em;
  }
  .gallery-section .video-wrapper {
    width: 100%;
  }
}

@media (max-height: 500px) {
  .products-section {
    font-size: 14px;
  }
  .products-section .mavic {
    display: none;
  }
  .products-section .left,
  .products-section .right {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .products-section .left {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/images/mavic-2-pro.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/mavic-2-pro.png");
  }
  .products-section .right {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url("/images/mavic-2-zoom.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/images/mavic-2-zoom.png");
  }
}
/*# sourceMappingURL=styles.css.map */