html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
}

header {
  height: 5em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 10;
}

header .container {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header img {
  height: 3.125em;
}

header nav {
  width: 30%;
}

header ul {
  list-style-type: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header li {
  margin: 0 0.5em;
}

header a {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

header a:hover {
  color: gray;
}

.intro-section {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.intro-section h1 {
  z-index: 2;
  font-size: 7em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.intro-section p {
  z-index: 2;
  font-size: 1.5em;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  margin: 0;
}

.intro-section span {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0.4;
}

.intro-section video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.products-section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-section .left {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  position: relative;
}

.products-section .right {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  height: 100%;
  position: relative;
  background-color: #e0e0e0;
}

.products-section .mavic {
  width: 70%;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fly 4000ms ease-in-out infinite;
          animation: fly 4000ms ease-in-out infinite;
}

@-webkit-keyframes fly {
  0% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
  50% {
    -webkit-transform: translate(-50%, -54%);
            transform: translate(-50%, -54%);
  }
  100% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
}

@keyframes fly {
  0% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
  50% {
    -webkit-transform: translate(-50%, -54%);
            transform: translate(-50%, -54%);
  }
  100% {
    -webkit-transform: translate(-50%, -46%);
            transform: translate(-50%, -46%);
  }
}

::-moz-selection {
  background-color: #e4e4e4;
  color: #333;
}

::selection {
  background-color: #e4e4e4;
  color: #333;
}
/*# sourceMappingURL=styles.css.map */